.section {
    margin: 5px;
    padding: 0;
    text-align: center;
}

a { text-decoration: none; }
a:link { color: #F5F5F5; }
a:visited { color: #F5F5F5; }

/* chat.html */
.room {
    /*
    border-radius: 4px;
    border: 1px solid #bbb;
    height: 500px;
    */
    width: 100%;
}

.message-others {
    border-radius: 4px;
    border: 1px solid #bbb;
    padding: 1rem;
    margin: 0.5rem 1rem;
    text-align: left;
}

.message-mine {
    border-radius: 4px;
    border: 1px solid #bbb;
    padding: 1rem;
    margin: 0.5rem 1rem;
    text-align: right;
}


