html,body {
    background-color: #33BFDB;
    margin:0;
    color: #F5F5F5;
}

input {
    background-color: #0E7AC4 !important;
}

.btn {
    background-color: #0E7AC4 !important;
    color: #F5F5F5 !important;
}

.section {
    margin: 5px;
    padding: 0;
    text-align: center;
}

a { text-decoration: none; }
a:link { color: #F5F5F5; }
a:visited { color: #F5F5F5; }

/* chat.html */
.room {
    /*
    border-radius: 4px;
    border: 1px solid #bbb;
    height: 500px;
    */
    width: 100%;
}

.message-others {
    background-color: #58BE89;
    border-radius: 4px;
    border: 1px solid #bbb;
    padding: 1rem;
    margin: 0.5rem 1rem;
    text-align: left;
}

.message-mine {
    background-color: #F26964;
    border-radius: 4px;
    border: 1px solid #bbb;
    padding: 1rem;
    margin: 0.5rem 1rem;
    text-align: right;
}


