html,body {
    background-color: #1abc9c;
    margin:0;
}

.section {
    padding: 8rem 0 7rem;
    text-align: center;
    color: #2c3e50;
}

.al-right {
    text-align: right;
}

.al-left {
    text-align: left;
}

.btn-style {
    background-color: #1abc9c;
    color: #ecf0f1;
}

.info {
    font-size: 2rem;
}
